<header>
  <nav class="container">

    <a href="{{ '/' | relative_url }}" class="logo">
      <img
        src="{{ '/assets/logos/logo.png' | relative_url }}"
        alt="Dein Honour Davies Logo"
      />
    </a>

    <button
      class="menu-toggle"
      aria-label="Toggle Navigation"
    >
      ☰
    </button>

    <ul class="nav-links">

      <li>
        <a href="{{ '/#what-i-do' | relative_url }}">
          What I Do
        </a>
      </li>

      <li>
        <a href="{{ '/#skills' | relative_url }}">
          Skills
        </a>
      </li>

      <li>
        <a href="{{ '/#projects' | relative_url }}">
          Projects
        </a>
      </li>

      <li>
        <a href="{{ '/physics-academy/' | relative_url }}">
          Physics
        </a>
      </li>

      <li>
        <a href="{{ '/#research' | relative_url }}">
          Research
        </a>
      </li>

      <li>
        <a href="{{ '/#contact' | relative_url }}">
          Contact
        </a>
      </li>

    </ul>

  </nav>
</header>